* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 118px;
    margin: 10px;
}

.text {
    text-decoration:blink;
    mix-blend-mode: overlay;
    padding-top:558px;
    font-weight: 700px;
    padding-left: 50%;
    font-size: 86px;
    font-weight: 900px;
    font-family: auto;
    letter-spacing: 25px;
}

.container {
    width: 450px;
    padding: 1.5rem;
    margin: 128px;
    border-radius: 10px;
    padding-top: 50px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}
.signIn.container {
    margin: 0;
    padding: 0;
    position: absolute;
    width: fill;
    margin-left 0;;
}
form {
    margin: 0 2rem;
}
.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}
input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #080808;
    padding-left: 18.5rem;
    font-size: 36px;
}
.input-group {
    padding: 1% 0;
    position: relative;
}
.input-group i {
    position: absolute;
    color: black;
}
input:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327, 90%, 28%);
}
input::placeholder {
    color: transparent;
}
label {
    line-height:30px;
    color: #292828f1;
    position: absolute;
    left: 1.2em;
    top: 0.3em;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -3em;
    color: hsl(327, 90%, 28%);
    font-size: 15px;
}
.recover {
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.recover a {
    text-decoration: none;
    color: rgb(125, 125, 135);
}
.recover a:hover {
    color: blue;
    text-decoration: underline;
}
.btn {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(5, 100, 241);
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover {
    background: #07001f;
}
.or {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}
.icons {
    text-align: center;
}
.icons i {
    color: rgb(37, 37, 37);
    padding: 0.4rem 1.9rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #c5c7ca;
    margin: 0 15px;
    transition: 1s;
}
.icons i:hover {
    background: #07001f;
    font-size: 1.6rem;
    border: 2px solid rgb(41, 41, 116);
}
.links {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}
button {
    color: rgba(145, 58, 167, 0.644);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}
button:hover {
    text-decoration: underline;
    color: rgb(233, 14, 196);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
body{
    width: 100%;
 
}
video{
    width: 100%;
}
.header{
    
    animation: infinite;
    display: center;
    height: 50px;
    margin: 10px;
   
}
